<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add City</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <input id="city" ngbAutofocus [formControl]="city" class="form-control" placeholder="Enter City">
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>