<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add City</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p [hidden]="isValid">
        <ngb-alert type="danger" (close)="closeAlert()" [dismissible]="true" class="text-center">
            <strong>Invalid city!</strong>.
        </ngb-alert>
    </p>
    <div>
        <input id="city" autocomplete="off" ngbAutofocus [formControl]="city" class="form-control"
            placeholder="Enter City">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>